<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>52629805323-u8kk8rbbffl8k1lb4pa9tpe1i80hn6g1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.52629805323-u8kk8rbbffl8k1lb4pa9tpe1i80hn6g1</string>
	<key>API_KEY</key>
	<string>AIzaSyDKPnUtBCfaNDQ8tyqPxXetfev-ccg6sHQ</string>
	<key>GCM_SENDER_ID</key>
	<string>52629805323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vroom</string>
	<key>PROJECT_ID</key>
	<string>vroom-d5c0e</string>
	<key>STORAGE_BUCKET</key>
	<string>vroom-d5c0e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52629805323:ios:fdbeb20dc36e5d2a</string>
	<key>DATABASE_URL</key>
	<string>https://vroom-d5c0e.firebaseio.com</string>
</dict>
</plist>